/* body {
  background-image: url('');
  font-family: Lato, Trebuchet MS;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 200px;


} */
.Login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-box {
  width: 350px;
  border-radius: 15px;

}
.login-header {
  background-color: #4A8CEF;
  z-index: 10;
  color:#fff;
  border-radius:15px 15px 0 0;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

.login-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #373E45;
  opacity: 0.8;
  height: 150px;
  border-radius: 0 0 15px 15px;
}
.user-input, .password-input {
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.loginButton {
  padding: 10px;
  width: Calc( 100% - 50px);
  font-size: 20px;
  border: none;
  background-color: dodgerblue;
  color: white;
}